<div class="flex flex-col gap-5 p-20" dir="rtl">
  <div>
    <h3>مشاورین برتر تهران</h3>
  </div>
  <div class="flex gap-10">
    <app-top-consultant-card image="aliz" name="علی ذوقی" realEstateName="املاک لولمان" score="۵"></app-top-consultant-card>
    <app-top-consultant-card image="ali" name="علی پرتوی" realEstateName="املاک توسی" score="۴/۷"></app-top-consultant-card>
    <app-top-consultant-card image="roz" name="رز دانش" realEstateName="املاک ولیعصر" score="۴/۵"></app-top-consultant-card>
    <app-top-consultant-card image="ziba" name="زیبا تاجدار" realEstateName="املاک فرشته" score="۴/۴"></app-top-consultant-card>
    <app-top-consultant-card image="mandana" name="ماندانا تبریزی" realEstateName="املاک سبز" score="۴/۳"></app-top-consultant-card>
    <app-top-consultant-card image="ali" name="حمید اصلانی" realEstateName="املاک تختی" score="۴/۱"></app-top-consultant-card>
  </div>
</div>
