<div class="flex flex-col gap-7 items-center bg-neutral-gray2 pt-20 pr-20 pl-20" dir="rtl">
  <div>
    <h3>سقفینو؛ سقفی ایده‌آل برای زندگی</h3>
  </div>
  <div class="flex flex-row gap-48 border-b border-neutral-gray5">
      <div class="flex flex-col gap-2 mb-5">
        <p>بازارهاى املاك و مستغلات</p>
        <p>بازار املاك و مستغلات تهران</p>
        <p>بازار املاك و مستغلات اصفهان</p>
        <p>بازار املاك و مستغلات شمال</p>
        <p>مشاهده بیشتر</p>
      </div>
      <div class="flex flex-col gap-2">
        <p>بيشترين جست وجوها</p>
        <p>آپارتمان نزديك مترو</p>
        <p>خانه نزديك بر اصلى خيايان</p>
        <p>آپارتمان تك واحده</p>
        <p>مشاهده بیشتر</p>
      </div>
      <div class="flex flex-col gap-2">
        <p>پرامتيازترين مشاوران املاك</p>
        <p>ميترا جبارى</p>
        <p>حسام الدين عزيزى</p>
        <p>بهرام مشعوف</p>
        <p>مشاهده بیشتر</p>
      </div>
      <div class="flex flex-col gap-2">
        <p>بازارهاى املاك و مستغلات</p>
        <p>بازار املاك و مستغلات تهران</p>
        <p>بازار املاك و مستغلات اصفهان</p>
        <p>بازار املاك و مستغلات شمال</p>
        <p>مشاهده بیشتر</p>
      </div>
  </div>
  <div class="flex flex-row gap-48">
    <div class="flex flex-col gap-2 mb-5">
      <p>بازارهاى املاك و مستغلات</p>
      <p>بازار املاك و مستغلات تهران</p>
      <p>بازار املاك و مستغلات اصفهان</p>
      <p>بازار املاك و مستغلات شمال</p>
      <p>مشاهده بیشتر</p>
    </div>
    <div class="flex flex-col gap-2">
      <p>بيشترين جست وجوها</p>
      <p>آپارتمان نزديك مترو</p>
      <p>خانه نزديك بر اصلى خيايان</p>
      <p>آپارتمان تك واحده</p>
      <p>مشاهده بیشتر</p>
    </div>
    <div class="flex flex-col gap-2">
      <p>پرامتيازترين مشاوران املاك</p>
      <p>ميترا جبارى</p>
      <p>حسام الدين عزيزى</p>
      <p>بهرام مشعوف</p>
      <p>مشاهده بیشتر</p>
    </div>
    <div class="flex flex-col gap-2">
      <p>بازارهاى املاك و مستغلات</p>
      <p>بازار املاك و مستغلات تهران</p>
      <p>بازار املاك و مستغلات اصفهان</p>
      <p>بازار املاك و مستغلات شمال</p>
      <p>مشاهده بیشتر</p>
    </div>
  </div>
  <div>
    <img src="assets/photos/footer.png"/>
  </div>
</div>
<div>
  <p>حقوق این سایت متعلق به سقفینو است</p>
</div>




