<div class="flex flex-col gap-5 mb-20" dir="rtl">
  <div class="flex flex-col items-center">
    <p class="text-body-xl">سقفینو فرصتی برای همه</p>
    <p class="text-body-smd">اگر مالک یا در جست‌‌وجوی سقفی نو هستید، کلیک کنید</p>
  </div>
  <div class="flex flex-row gap-10 justify-center">
    <div class="flex flex-col gap-5 bg-white  h-auto w-80 shadow rounded-2xl p-6 hover:shadow-2xl transition-all cursor-pointer">
      <img src="assets/photos/cta-customerservice.png"/>
      <p class="text-body-regular">مشاورین ما ۲۴ ساعته پاسخگوی
        <br/>
        سوالات ملکی شما هستند</p>
    </div>
    <div class="flex flex-col gap-5 bg-white shadow h-auto w-80 rounded-2xl p-6 hover:shadow-2xl transition-all cursor-pointer">
      <img src="assets/photos/cta-searching.png"/>
      <p class="text-body-regular">اگر در جست‌وجوی یک سقف نو
        <br/>
        هستید اینجا کلیک کنید</p>
    </div>
    <div class="flex flex-col gap-5 bg-white shadow h-auto w-80 rounded-2xl p-6 hover:shadow-2xl transition-all cursor-pointer">
      <img src="assets/photos/cta-addhouse.png"/>
      <p class="text-body-regular">با ثبت آسان آگهی، ملک خود را
        <br/>
        برای اجاره یا فروش اعلان کنید</p>
    </div>
  </div>
</div>
