<div class="flex gap-2 justify-center" dir="rtl">
  <div>
    <button class="border border-neutral-gray7 rounded pr-4 pl-4 pt-3 pb-3 flex items-center gap-2">
    منطقه<mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div>
    <button class="border border-neutral-gray7 rounded pr-4 pl-4 pt-3 pb-3 flex items-center gap-2">
      نوع ملک<mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div>
    <button class="border border-neutral-gray7 rounded pr-4 pl-4 pt-3 pb-3 flex items-center gap-2">
      قیمت<mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div>
    <button class="border border-neutral-gray7 rounded pr-4 pl-4 pt-3 pb-3 flex items-center gap-2">
      متراژ<mat-icon>expand_more</mat-icon>
    </button>
  </div>
  <div>
    <button class="border border-neutral-gray7 rounded pr-4 pl-4 pt-3 pb-3 flex items-center gap-2">
      <mat-icon>filter_list</mat-icon> فیلتر های بیشتر
    </button>
  </div>
</div>
