:root {
  --font-family: "Shabnam";

  --primary-default: #CB1B1B;
  --primary-shade6: #430909;
  --primary-shade5: #5A0C0C;
  --primary-shade4: #700F0F;
  --primary-shade3: #871212;
  --primary-shade2: #9E1515;
  --primary-shade1: #B41818;
  --primary-tint7: #E43434;
  --primary-tint6: #F66262;
  --primary-tint5: #FCA197;
  --primary-tint4: #F6BBBB;
  --primary-tint3: #F9D2D2;
  --primary-tint2: #FCE8E8;
  --primary-tint1: #FDF1F1;

  --neutral-black: #0C0C0C;
  --neutral-gray13: #121212;
  --neutral-gray12: #212121;
  --neutral-gray11: #353535;
  --neutral-gray10: #505050;
  --neutral-gray9: #717171;
  --neutral-gray8: #909090;
  --neutral-gray7: #ADADAD;
  --neutral-gray6: #CBCBCB;
  --neutral-gray5: #D9D9D9;
  --neutral-gray4: #E1E1E1;
  --neutral-gray3: #EDEDED;
  --neutral-gray2: #F9F9F9;
  --neutral-gray1: #FAFAFA;
  --neutral-white: #FFFFFF;

  --state-error: #C30000;
  --state-errorlight1: #ED2E2E;
  --state-errorlight2: #FFF2F2;
  --state-success: #00966D;
  --state-successlight1: #00BA88;
  --state-successlight2: #F3FDFA;
  --state-warning: #A9791C;
  --state-warninglight1: #F4B740;
  --state-warninglight2: #FFF8E1;
}
