<div class="flex flex-col gap-2">
  <div>
    <h4>املاک اجاره ای</h4>
  </div>
  <div class="flex gap-72">
    <p class="text-body-s text-primary-default">۱۰.۳۲۵ مورد یافت شد</p>
    <div>
      <button class="border border-neutral-gray7 bg-neutral-gray1 rounded pr-4 pl-4 pt-3 pb-3 flex items-center gap-2">
        <mat-icon>filter_list</mat-icon>  جدیدترین<mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-7 mt-5">
    <app-houses-card *ngFor="let house of housesData" [housesCardInputModel]="house"></app-houses-card>
  </div>
</div>

