
@font-face {
  font-family: 'Shabnam';
  src: url('../assets/fonts/Shabnam-FD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shabnam';
  src: url('../assets/fonts/Shabnam-Thin-FD.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Shabnam';
  src: url('../assets/fonts/Shabnam-Light-FD.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Shabnam';
  src: url('../assets/fonts/Shabnam-Medium-FD.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Shabnam';
  src: url('../assets/fonts/Shabnam-Bold-FD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
