<div class="flex flex-col gap-5 p-20" dir="rtl">
  <div>
    <h3>املاک برتر {{user$ | async}}</h3>
  </div>
  <div class="flex gap-10">
    <app-top-real-estate-card image="toosi" name="مشاور املاک توسی" location="تهران، نیاوران" score="۴/۸" activeAds="۵۵۰۰" reviewNum="۱۸"></app-top-real-estate-card>
    <app-top-real-estate-card image="valiasr" name="مشاور املاک ولیعصر" location="تهران، فرشته" score="۴/۷" activeAds="۳۵۰۰" reviewNum="۲۲"></app-top-real-estate-card>
    <app-top-real-estate-card image="freshte" name="مشاور املاک فرشته" location="تهران، ولیعصر" score="۴/۷" activeAds="۴۵۰۰" reviewNum="۱۵"></app-top-real-estate-card>
    <app-top-real-estate-card image="sabz" name="مشاور املاک سبز" location="تهران، پاسداران" score="۴/۵" activeAds="۱۵۰۰" reviewNum="۳۱"></app-top-real-estate-card>
    <app-top-real-estate-card image="toosi" name="مشاور املاک توسی" location="تهران، نیاوران" score="۴/۸" activeAds="۲۵۰۰" reviewNum="۴۴"></app-top-real-estate-card>
    <app-top-real-estate-card image="freshte" name="مشاور املاک سقف" location="تهران، صادقیه" score="۴/۴" activeAds="۱۵۰۰" reviewNum="۳۲"></app-top-real-estate-card>
  </div>
</div>
