<div class="p-20 flex flex-col w-full m-auto" dir="rtl">
  <div>
    <h3>آخرین اخبار املاک را از سقفینو دنبال کنید</h3>
  </div>
  <div class="flex flex-row gap-7 justify-between">
    <app-blog-card title="رکود بازار مسکن فروشندگان در انتظار خریداران..." image="blog1"></app-blog-card>
    <app-blog-card title="خطر زلزله در آسمان خراش ها بیشتر است یا..." image="blog2"></app-blog-card>
    <app-blog-card title="بازار كساد كسب وكار معماران
داخلى در پى بالا رفتن قيمت مو ..." image="blog3"></app-blog-card>
    <app-blog-card title="شهرك ساحلى زمزم در منطقه
نور استان مازندران از سوم شهر ..." image="blog4"></app-blog-card>
  </div>

</div>
