<div class="flex flex-col gap-3 mt-6">
  <h4>توضیحات</h4>
  <div class="flex flex-col">
    <p class="text-body-xs text-neutral-gray11">سن بنا: نوساز</p>
    <p class="text-body-xs text-neutral-gray11">موقعيت جغرافيايى بنا: شمالى</p>
    <p class="text-body-xs text-neutral-gray11">نوع سند: شخصى</p>
    <p class="text-body-xs text-neutral-gray11">امكانات امنيتى: آيفون تصويرى، درب ضدسرقت</p>
    <p class="text-body-xs text-neutral-gray11">ساير امكانات: كمد ديورى، ينجره ها UPVC</p>
    <p class="text-body-xs text-neutral-gray11">زمان بازيد ٧ صبح تا ١١ شب</p>
  </div>
</div>
