<div class="sticky top-20 z-50 bg-white shadow-lg p-5 flex border gap-5 rounded-2xl w-fit h-fit">
  <div>
    <img class="size-16" src="assets/photos/m-aliz.png"/>
  </div>
  <div class="flex flex-col gap-3">
    <div class="flex gap-3">
      <img class="size-8" src="assets/photos/re-freshte.png"/>
      <h6 class="text-neutral-gray10">املاک لولمان</h6>
    </div>
    <div>
      <h4 class="text-neutral-gray12">علی ذوقی</h4>
    </div>
    <div>
      <p class="text-body-xxs">امتیاز: ۵ از ۵</p>
      <p class="text-body-xxs">۶۰۰ آگهی فعال</p>
    </div>
    <button class="bg-primary-default rounded text-white text-button-md pr-10 pl-10 pt-2 pb-2 w-64">اطلاعات تماس</button>
  </div>
</div>
