<div class="flex flex-col">
  <div class="flex flex-col self-center mb-3">
    <p class="text-body-xl self-center">همه به شما مشاوره می‌دهند!</p>
    <p class="text-body-smd">اما در سقفینو مشاوران املاک کِنار شما می‌مانند</p>
  </div>
  <div class="flex justify-center gap-28" dir="rtl">
    <div class="bg-white shadow w-44 h-full rounded-2xl p-6 flex flex-col gap-7 hover:shadow-2xl transition-all">
      <img class="size-fit self-center" src="assets/photos/loction.png" alt="commsphoto"/>
      <p class="text-body-s">ارتباط آسان با برترین املاک و مشاورین کشور</p>
    </div>
    <div class="bg-white shadow w-44 h-full rounded-2xl p-6 flex flex-col gap-7 hover:shadow-2xl transition-all">
      <img class="size-fit self-center" src="assets/photos/time.png" alt="commsphoto"/>
      <p class="text-body-s">ارتباط آسان با برترین املاک و مشاورین کشور</p>
    </div>
    <div class="bg-white shadow w-44 h-full rounded-2xl p-6 flex flex-col gap-7 hover:shadow-2xl transition-all">
      <img class="size-fit self-center" src="assets/photos/comms.png" alt="commsphoto"/>
      <p class="text-body-s">ارتباط آسان با برترین املاک و مشاورین کشور</p>
    </div>


  </div>
</div>
