<div class="p-20 mt-52 w-screen flex flex-col gap-5" dir="rtl">
  <app-gallery></app-gallery>
  <div class="flex gap-20">
    <div class="w-1/2">
      <div class="flex justify-between">
        <p class="text-body-regular text-neutral-gray8">رهن و اجاره آپارتمان {{cityName}}</p>
        <div>
          <mat-icon class="cursor-pointer">share</mat-icon>
          <mat-icon class="cursor-pointer">save_alt</mat-icon>
        </div>
      </div>
      <div class="flex flex-col gap-5">
        <app-main-detail [house]="house" [houseDetail]="houseDetail"></app-main-detail>
        <app-equipments [houseDetail]="houseDetail"></app-equipments>
        <app-description [houseDetail]="houseDetail"></app-description>
        <app-location [house]="house"></app-location>
        <app-mini-detail [houseDetail]="houseDetail" [house]="house"></app-mini-detail>

        <div class="flex justify-between w-1/2">
          <p class="text-body-xs">بازخورد شما درباره این آگهی چیست؟</p>
          <div class="flex gap-5">
            <mat-icon class="cursor-pointer">thumb_down</mat-icon>
            <mat-icon class="cursor-pointer">thumb_up</mat-icon>
          </div>
        </div>
        <div class="flex flex-col gap-3 mt-6">
          <h4>آگهی های مشابه</h4>
          <div class="flex gap-5">
            <app-houses-card></app-houses-card>
            <app-houses-card></app-houses-card>
            <app-houses-card></app-houses-card>
          </div>

        </div>
      </div>
    </div>
    <div class="flex justify-center w-1/2 mt-24">
      <app-real-estate-card></app-real-estate-card>
    </div>
  </div>
</div>
